@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.font-logo {
    font-size: 20px;
}

.text-visi {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    color: #fff;
}

.text-about {
    font-size: 40px;
}

.font-progam {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 450px;
}